.m-border {
    display: inline-block;
    text-align: center;
    width: 126px;
    height: 58px;
    border-bottom: 0;
}

.m-border:hover {
    height: 56px;
    border-bottom: 2px solid #FFFFFF;
}

.m-main-button {
    width: 200px;
    height: 45px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: none;
    color: #FFFFFF;
}

.m-fw {
    display: flex;
    flex-wrap: wrap;
}

.m-l50 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.m-main-button:hover {
    background-color: #3574f1;
}

.m-h703 {
    height: 703px;
}

.m-h797 {
    height: 797px;
}

.m-h776 {
    height: 776px;
}

.m-h570 {
    height: 570px;
}

.m-h512 {
    height: 512px;
}

.m-h465 {
    height: 465px;
}

.m-bc-grey {
    background-color: #F6F6F8;
}

.m-bc-indigo {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.m-c-black {
    color: #323232;
}

.m-c-white {
    color: #FFFFFF;
}

.m-c-grey {
    color: #999999;
}

.m-c-blue {
    color: #4985FF;
}

.m-mt143 {
    margin-top: 143px;
}

.m-mt165 {
    margin-top: 165px;
}

.m-mt70 {
    margin-top: 70px;
}

.m-mb85 {
    margin-bottom: 85px;
}

.m-mr35 {
    margin-right: 35px;
}

.m-mb30 {
    margin-bottom: 30px;
}

.m-w100 {
    width: 100%;
}

.m-w250 {
    width: 250px;
}